**9.Write a program to add 7000 after 6000 in the following list.
sample input
 list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
Expected output
 list1 = [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
Write a program to find maximum and the minimum value in a set.
Input
set1 = {5, 10, 3, 15, 2, 20}
Expected output
max = 20
min = 2
Write a program to remove all duplicates from a list using sets.
Input
[2, 3, 4, 2, 7, 3, 4, 8, 9, 1, 2, 3]
Expected output
{1, 2, 3, 4, 7, 8, 9}**

In [18]:
#adding 7000 after 6000
list1= [10, 20, [300, 400, [5000, 6000], 500], 30, 40] 
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [25]:
# max  values
set1 = {5, 10, 3, 15,2,20}
max(set1)

20

In [26]:
#min values
set1 = {5, 10, 3, 15,2,20}
min(set1)

2

In [27]:
#remove all duplicates
a= [2, 3, 4, 2, 7, 3, 4, 8, 9, 1, 2, 3]
b=set(a)
b

{1, 2, 3, 4, 7, 8, 9}